<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
  <div class="container">
    <a routerLink="/" class="navbar-brand"> Dirección Asistencia Social</a>
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>



    <div *ngIf="estalogueado" class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item px-2">
          <a routerLink="/" class="nav-link">Comedores / Merenderos</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item px-2">
          <a routerLink="/asistenciasGrales" class="nav-link">Asistencia General</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item px-2">
          <a routerLink="/bajas" class="nav-link">Bajas</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item px-2">
          <a routerLink="/hornohuerta" class="nav-link">Hornos / Huertas</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto justify-content-end">
        <li *ngIf="estalogueado" class="nav-item dropdown mr-3">


          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/configuracion">
              <i class="fas fa-cog"></i> Configuracion
            </a>
          </div>
        </li>

        <li *ngIf="!estalogueado" class="nav-item" class="collapse navbar-collapse" id="navbarCollapse">
          <a routerLink="/login" class="nav-link" routerLinkActive="router-link-active" style="color: white;" >
            <i class="fas fa-user"></i>Login
          </a>

        </li>




        <li *ngIf="estalogueado" class="nav-item">
          <a style="cursor: pointer" (click)="logout()" class="nav-link">
            <i class="fas fa-user-times"></i>Salir
          </a>

        </li>

      </ul>

    </div>
  </div>
</nav>
