<header id="main-header" class="py-2 bg-success text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fas fa-house"> </i> Editar Comedor</h1>
      </div>
    </div>
  </div>
</header>

<form #comedorForm="ngForm" (ngSubmit)="guardar(comedorForm)">
  <flash-messages></flash-messages>

  <!--Botones-->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a routerLink="/" class="btn btn-light btn-block">
            <i class="fas fa-arrow-left"></i>Regresar al inicio
          </a>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-success btn-block">
            <i class="fas fa-check"></i> Guardar Comedor
          </button>
        </div>
        <div class="col-md-3">
          <a href="# " (click)="eliminar()" class="btn btn-danger btn-block">
            <i class="fas fa-trash"></i>Eliminar Comedor
          </a>
        </div>

      </div>
    </div>
  </section>

  <section id="details">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Editar Comedor</h4>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input
                  type="text"
                  name="nombre"
                  class="form-control"
                  #nombre="ngModel"
                  [(ngModel)]="comedor.nombre"
                  [ngClass]="{ 'is-invalid': nombre.errors && nombre.touched }"
                  required
                  minlength="2"
                />
                <div
                  [hidden]="!nombre.errors?.['required']"
                  class="invalid-feedback"
                >
                  Nombre requerido
                </div>
                <div
                  [hidden]="!nombre.errors?.['minlength']"
                  class="invalid-feedback"
                >
                  Debe conrener al menos 2 caracteres
                </div>
              </div>

              <div class="form-group">
                <label for="direccion">Dirección</label>
                <input
                  type="text"
                  name="direccion"
                  class="form-control"
                  #direccion="ngModel"
                  [(ngModel)]="comedor.direccion"
                  [ngClass]="{
                    'is-invalid': direccion.errors && direccion.touched
                  }"
                  required
                  minlength="2"
                />
                <div
                  [hidden]="!direccion.errors?.['required']"
                  class="invalid-feedback"
                >
                  Direccion requerida
                </div>
                <div
                  [hidden]="!direccion.errors?.['minlength']"
                  class="invalid-feedback"
                >
                  Debe contener almenos 2 caracteres
                </div>
              </div>

              <div class="form-group">
                <label for="nombreRes">Nombre de Responsable</label>
                <input
                  type="text"
                  name="nombreRes"
                  class="form-control"
                  #nombreRes="ngModel"
                  [(ngModel)]="comedor.nombreRes"
                  [ngClass]="{ 'is-invalid': nombreRes.errors && nombreRes.touched }"
                  required
                  minlength="2"
                />
                <div
                  [hidden]="!nombreRes.errors?.['required']"
                  class="invalid-feedback"
                >
                  Nombre de Responsable requerido
                </div>
                <div
                  [hidden]="!nombreRes.errors?.['minlength']"
                  class="invalid-feedback"
                >
                  Debe conrener al menos 2 caracteres
                </div>
              </div>

              <div class="form-group">
                <label for="dni">DNI del responsable</label>
                <input
                  type="text"
                  name="dni"
                  class="form-control"
                  #dni="ngModel"
                  [(ngModel)]="comedor.dni"
                  [ngClass]="{ 'is-invalid': dni.errors && dni.touched }"
                  required
                  minlength="2"
                />
                <div
                  [hidden]="!dni.errors?.['required']"
                  class="invalid-feedback"
                >
                  DNI del responsable requerido
                </div>
                <div
                  [hidden]="!dni.errors?.['minlength']"
                  class="invalid-feedback"
                >
                  Debe conrener al menos 2 caracteres
                </div>
              </div>

              <div class="form-group">
                <label for="numTelefono">Número de telefono del responsable</label>
                <input
                  type="text"
                  name="numTelefono"
                  class="form-control"
                  #numTelefono="ngModel"
                  [(ngModel)]="comedor.numTelefono"
                  [ngClass]="{ 'is-invalid': numTelefono.errors && numTelefono.touched }"
                  required
                  minlength="2"
                />
                <div
                  [hidden]="!numTelefono.errors?.['required']"
                  class="invalid-feedback"
                >
                  Numero de telefono del responsable requerido
                </div>
                <div
                  [hidden]="!dni.errors?.['minlength']"
                  class="invalid-feedback"
                >
                  Debe contener al menos 2 caracteres
                </div>
              </div>

              <div class="form-group">
                <label for="diahorarioCocina">Días y horarios que realiza el almuerzo</label>
                <input
                  type="text"
                  name="diahorarioCocina"
                  class="form-control"
                  #diahorarioCocina="ngModel"
                  [(ngModel)]="comedor.diahorarioCocina"
                  [ngClass]="{ 'is-invalid': diahorarioCocina.errors && diahorarioCocina.touched }"
                  required
                  minlength="2"
                />
                <div
                  [hidden]="!diahorarioCocina.errors?.['required']"
                  class="invalid-feedback"
                >
                  Dia y horario de cocina requerido
                </div>
                <div
                  [hidden]="!dni.errors?.['minlength']"
                  class="invalid-feedback"
                >
                  Debe contener al menos 2 caracteres
                </div>
              </div>

              <div class="form-group">
                <label for="ubicacion">Agregue el link correspondiente a la ubicación del Comedor (Formato https://)</label>
                <input
                  type="text"
                  name="ubicacion"
                  class="form-control"
                  #ubicacion="ngModel"
                  [(ngModel)]="comedor.ubicacion"
                  [ngClass]="{ 'is-invalid': ubicacion.errors && ubicacion.touched }"
                  required
                  minlength="2"
                />
                <div
                  [hidden]="!ubicacion.errors?.['required']"
                  class="invalid-feedback"
                >
                  Ubicación requerida
                </div>
                <div
                  [hidden]="!ubicacion.errors?.['minlength']"
                  class="invalid-feedback"
                >
                  Debe contener al menos 2 caracteres
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</form>
