.navbar-nav.ml-auto {
  margin-left: auto !important;
}

.descripcion {
  font-size: 1.5rem;
}

html, body{
  height: 100%;

}

.form-floating{
  text-align: start;
}

.errrorLabel{
  margin-left: 5px;
}




