<header id="main-header" class="py-2 bg-success text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fa-solid fa-circle-info"> </i> Información</h1>
      </div>
    </div>
  </div>
</header>

<form #merenderoForm="ngForm" (ngSubmit)="guardar(merenderoForm)">
  <flash-messages></flash-messages>

  <!--Botones-->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a routerLink="/merenderos" class="btn btn-light btn-block">
            <i class="fas fa-arrow-left"></i>Regresar al inicio
          </a>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-success btn-block">
            <i class="fas fa-check"></i> Guardar Merendero
          </button>
        </div>
        <div class="col-md-3">
          <a
            [href]="merendero.ubicacion"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-primary"
          >
            Ver ubicacion en google maps
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="details">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Información Merendero</h4>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="descripcion">Agregue notas aquí</label>
                <textarea
                  type="text"
                  name="descripcion"
                  class="form-control"
                  #descripcion="ngModel"
                  [(ngModel)]="merendero.descripcion"
                  [ngClass]="{
                    'is-invalid': descripcion.errors && descripcion.touched
                  }"
                  required
                  minlength="2"
                  style="height: 200px; resize: vertical"
                ></textarea>
                <div
                  [hidden]="!descripcion.errors?.['required']"
                  class="invalid-feedback"
                >
                  Nombre requerido
                </div>
                <div
                  [hidden]="!descripcion.errors?.['minlength']"
                  class="invalid-feedback"
                >
                  Debe conrener al menos 2 caracteres
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>

<section id="merenderos">
  <div class="container">
    <div class="row">
      <div class="col-md-15">
        <div class="card">
          <div class="card-header">
            <h4>Información de Merendero</h4>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b>Nombre:</b> {{ merendero.nombre }}
            </li>
            <li class="list-group-item">
              <b>Dirección:</b> {{ merendero.direccion }}
            </li>
            <li class="list-group-item">
              <b>Nombre de responsable:</b> {{ merendero.nombreRes }}
            </li>
            <li class="list-group-item">
              <b>DNI del responsable:</b> {{ merendero.dni }}
            </li>
            <li class="list-group-item">
              <b>Número de telefono del responsable:</b>
              {{ merendero.numTelefono }}
            </li>
            <li class="list-group-item">
              <b>Días y horarios que realiza el almuerzo:</b>
              {{ merendero.diahorarioCocina }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
